<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linxi.gkos.mapper.ArticleMapper" >
    <resultMap id="ArticleDto" type="com.linxi.gkos.pojo.dto.ArticleDto">
        <id property="id" column="id" jdbcType="INTEGER" />
        <result property="title" column="title" jdbcType="VARCHAR" />
        <result property="content" column="content" jdbcType="VARCHAR" />
        <result property="author" column="author" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="lookCount" column="look_count" jdbcType="INTEGER" />
        <result property="favouriteCount" column="favourite_count" jdbcType="INTEGER" />
    </resultMap>

    <select id="list" resultMap="ArticleDto" parameterType="com.linxi.gkos.pojo.vo.req.ArticleReqVo">
        SELECT * FROM article
        ORDER BY create_time
        <if test="pageSize != null">
            LIMIT #{pageSize,jdbcType=INTEGER},#{pageNum,jdbcType=INTEGER}
        </if>
    </select>
</mapper>