<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linxi.gkos.mapper.UserMapper" >
    <resultMap id="UserDto" type="com.linxi.gkos.pojo.dto.UserDto" >
        <id property="id" column="id" jdbcType="INTEGER" />
        <result property="name" column="name" jdbcType="VARCHAR" />
        <result property="phone" column="phone" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR" />
        <result property="place" column="place" jdbcType="VARCHAR" />
        <result property="school" column="school" jdbcType="VARCHAR" />
        <result property="subject" column="subject" jdbcType="VARCHAR" />
        <result property="grand" column="grand" jdbcType="INTEGER" />
        <result property="rank" column="rank" jdbcType="INTEGER" />
        <result property="state" column="state" jdbcType="VARCHAR" />
        <result property="vip" column="vip" jdbcType="INTEGER" />
        <result property="resultId" column="result_id" jdbcType="INTEGER" />
        <result property="year" column="year" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findUserById" resultMap="UserDto" parameterType="java.lang.Integer">
        SELECT * FROM user WHERE id=#{id,jdbcType=INTEGER}
    </select>

    <select id="findUserByPhone" resultMap="UserDto" parameterType="java.lang.String">
        SELECT * FROM user WHERE phone=#{phone,jdbcType=VARCHAR}
    </select>

    <insert id="insertUser" parameterType="java.lang.String">
        INSERT INTO user (phone, vip)
        VALUES (#{phone,jdbcType=VARCHAR},0)
    </insert>

    <update id="updateUserPassword" parameterType="com.linxi.gkos.pojo.vo.req.LoginReqVo">
        UPDATE user
        SET password=#{password,jdbcType=VARCHAR}
        WHERE phone=#{phone,jdbcType=VARCHAR}
    </update>

    <update id="updateUserByAnalyse" parameterType="com.linxi.gkos.pojo.po.User">
        UPDATE user
        SET year=#{year,jdbcType=VARCHAR}, grand=#{grand,jdbcType=INTEGER},
            rank=#{rank,jdbcType=INTEGER}, subject=#{subject,jdbcType=VARCHAR}
        WHERE phone=#{phone,jdbcType=VARCHAR}
    </update>

    <update id="updateUserByInfo" parameterType="com.linxi.gkos.pojo.po.User">
        UPDATE user
        SET year=#{year,jdbcType=VARCHAR}, subject=#{subject,jdbcType=VARCHAR},
            place=#{place,jdbcType=VARCHAR}, school=#{school,jdbcType=VARCHAR},
            state=#{state,jdbcType=VARCHAR}
        WHERE phone=#{phone,jdbcType=VARCHAR}
    </update>

    <update id="updateUserVip" parameterType="com.linxi.gkos.pojo.po.User">
        UPDATE user
        SET vip=#{vip,jdbcType=INTEGER}
        WHERE phone=#{phone,jdbcType=VARCHAR}
    </update>

    <select id="findResultId" resultType="java.lang.Integer">
        SELECT id FROM result
        ORDER BY id DESC
        LIMIT 1
    </select>

    <update id="updateUserResultId" parameterType="com.linxi.gkos.pojo.po.User">
        UPDATE user
        SET result_id=#{resultId,jdbcType=INTEGER}
        WHERE phone=#{phone,jdbcType=VARCHAR}
    </update>
</mapper>