<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linxi.gkos.mapper.UserMapper" >
    <resultMap id="UserDto" type="com.linxi.gkos.pojo.dto.UserDto" >
        <id property="id" column="id" jdbcType="INTEGER" />
        <result property="name" column="name" jdbcType="VARCHAR" />
        <result property="phone" column="phone" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR" />
        <result property="subject" column="subject" jdbcType="VARCHAR" />
        <result property="grand" column="grand" jdbcType="INTEGER" />
        <result property="rank" column="rank" jdbcType="INTEGER" />
        <result property="vip" column="vip" jdbcType="INTEGER" />
        <result property="resultId" column="result_id" jdbcType="INTEGER" />
        <result property="role" column="role" jdbcType="INTEGER" />
    </resultMap>

    <select id="findUserByPhone" resultMap="UserDto" parameterType="java.lang.String">
        SELECT * FROM user WHERE phone=#{phone,jdbcType=VARCHAR}
    </select>

    <insert id="insertUser" parameterType="com.linxi.gkos.pojo.po.User">
        INSERT INTO user (phone, password, vip, role)
        VALUES (#{phone,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},0,0)
    </insert>
</mapper>